* {
  margin: 0;
  padding: 0;
}

.connect,
.usernameInput,
.messageInput,
.message {
  flex: none;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.service {
  flex: 1;
  display: flex;
  min-width: 225px;
}

.top-bar {
  margin-top: 7.5%;
  margin-bottom: 2.5%;
  min-height: 60px;
  justify-content: center;
}