.outer {
  flex: 1;
  width: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inner {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 800px;
}
